.main-container {
	padding: 0 20px;
}

application,
todo-details,
todo-list,
todo-create,
navigation,
todo-preview,
latest-added,
latest-done {
	display: block;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;
	padding-bottom: 10px;
}