<form *ngIf="todo" class="panel panel-default" (submit)="onSave()" #form="ngForm">
    <div class="panel-heading">
        <h2>Todo {{todo.title}}:</h2>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label>Id:</label>
            <input class="value" value="{{ todo.id }}"  class="form-control" readonly /><br/>
        </div>

        <div class="form-group" [class.has-error]="!title.valid && !title.pristine">
            <label for="todo-title" (click)="click(title)">Title:</label>
            <input id="todo-title"
                   #title="ngForm"
                   type="text"
                   [(ngModel)]="todo.title"
                   ngControl="title"
                   validate-case-length
                   class="form-control" /><br/>
            <validation-message [errors]="title.errors"></validation-message>
        </div>

        <div class="form-group" [class.has-error]="!description.valid && !description.pristine">
            <label for="todo-description">Description:</label>
            <input id="todo-description"
                   #description="ngForm"
                   type="text"
                   [(ngModel)]="todo.description"
                   ngControl="description"
                   required
                   class="form-control" /><br/>
        </div>

        <div class="form-group">
            <label for="todo-category">Category:</label>
            <input id="todo-category" type="text" [(ngModel)]="todo.category" class="form-control" />
        </div>
    </div>
    <div class="panel-footer">
        <input type="submit" value="Save" class="btn btn-success" [disabled]="!form.valid" />
        <a [routerLink]="['List']" class="btn btn-default">Cancel</a>
    </div>
</form>