<ion-navbar>
    <ion-title>Todo ({{todo.id}})</ion-title>
</ion-navbar>
<ion-content padding>
    <form *ngIf="todo" (submit)="onSave()" #form="ngForm">
        <ion-item>
            <ion-label stacked>Id:</ion-label>
            <ion-input value="{{ todo.id }}" readonly></ion-input>
        </ion-item>

        <ion-item [class.has-error]="!title.valid && !title.pristine">
            <ion-label stacked>Title:</ion-label>
            <ion-input type="text"
                       [(ngModel)]="todo.title"
                       ngControl="title"
                       #title="ngForm"
                       validate-case-length></ion-input>
        </ion-item>
        <validation-message [errors]="title.errors"></validation-message>

        <ion-item [class.has-error]="!description.valid && !description.pristine">
            <ion-label stacked>Description:</ion-label>
            <ion-input #description="ngForm"
                       [(ngModel)]="todo.description"
                       ngControl="description"
                       required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Category:</ion-label>
            <ion-input [(ngModel)]="todo.category"></ion-input>
        </ion-item>


        <button ion-button type="submit" [disabled]="!form.valid" color="secondary" medium>Save</button>
        <button ion-button type="button" (click)="goBack()" light medium>Cancel</button>
    </form>
</ion-content>
<todo-footer></todo-footer>


