<h2>Todo's:</h2>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Category</th>
        <th>Updated</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let todo of getTodos()" [class.done]="todo.isDone" >
        <td>{{ todo.id }}</td>
        <td class="title">{{ todo.title }}</td>
        <td class="description">{{ todo.description }}</td>
        <td>{{ todo.category }}</td>
        <td>{{ todo.updateDate | date:'mediumTime'  }}</td>
        <td><button (click)="toggleTodo(todo)" class="btn btn-success">Toggle</button></td>
        <td><a [routerLink]="['Details', { id: todo.id }]" class="btn btn-default">Edit</a></td>
        <td><button (click)="deleteTodo(todo)" class="btn btn-danger">Delete</button></td>
    </tr>
</table>
<todo-create></todo-create>